.barra-superior-govco {
  background: #3366cc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 2rem;
  min-height: 40px;
   position: fixed;      /* <-- Hace la barra fija */
  top: 0;               /* <-- Siempre arriba */
  left: 0;
  width: 100%;
  z-index: 1050;  /* <-- Encima de otros elementos */
}


@media (max-width: 991px) {
  .barra-superior-govco {
   
    justify-content: center;
  }
 
}