/* .searchInputs {
    margin-top: 105px;
    display: flex;
  } */
  
  .search {
     /* width: 200px; */
     position: relative
    }
 /*  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
    border: 1px solid black;
  } */
  
/*   .searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  */
  .dataResult {
    margin-top: 5px;
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 3;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
    
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    color: black;
    
  }
  /*
  .dataItem p {
    margin-left: 10px;
  }*/
 .search a {
    text-decoration: none;
  }
  
 .search a:hover {
    background-color: lightgrey;
  }
  .search p {
      padding: 5% 5% 5% 5% ;
      color: #002856;
      font-size: 14px;
      margin-bottom: 1px;
  }
  /*
  #clearBtn {
    cursor: pointer;
  } */



  .input-box{
    position: relative;
  }
  
  .input-box i {
    position: absolute;
    right: 13px;
    top:13px;
    color:#ced4da;
  
  }
  
  .form-control{
  
    height: 40px;
    background-color:#eeeeee69;
  }
  
  .form-control:focus{
    background-color: #eeeeee69;
    box-shadow: none;
    border-color: #eee;
  }
 