/*style="width: 18rem;"


style="max-width: 540px;*/
.container__cd {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.cd {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.cd h3 {
  font-size: 41px;
  color: #002856;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}
.cd h4 {
  font-size: 15px;
  color: #002856;
  position: relative;
  margin-bottom: 30px;
  /* text-align: center; */
  text-align: justify;
}
.cd p {
  font-size: 15px;
  color: #002856;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  text-align: justify;
}

.cd li {
  margin-bottom: 24px;
  margin-top: 15px;
  color: #002856;
}
.cd i {
  color: #c00d0d;
  margin-top: 5px;
  font-size: 20px;
}
.cd a {
  text-decoration: none;
  color: inherit;
  color: #002856;
}
