.carousel {
  max-width: 1400px;
  margin: auto;
}
.cards__body {
  width: 50%;
  border: none;
}

.carrusel__title {
 /*  font-size: 2.5vw; */
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: left;

  text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.9);
}

.cards__body a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
  .carrusel__title {
    margin-bottom: -3rem;
    font-size: 18px;
  }
}
