.cards__body {
  width: 50%;
  border: none;
}

.carrusel__title {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: left;
}

.cards__body a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
}
.cards__body a:hover {
  color: #004f9f
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .carrusel__title {
    margin-bottom: -3rem;
  }
}
