.navbar__card li {
  color: #002856;
 
  font-weight: bold;
  

}
.navbar__card a {
  color: #002856 !important;
  text-decoration: none;
  font-size: 1.1rem;
  
  
}

.navbar__card a:hover {
  color: #e30613 !important;
}


.navbar__card img { 
  width: 10vw;
  margin-right: 10px;
}

@media only screen and (width: 1024px) {
  .navbar__card a {
    font-size: .6rem;
  }
}
@media only screen and (width: 2560px) {
  .navbar__card a {
    font-size: 1.8rem;
  }
}



