.rojo-p {
  background-color: #e30613;
}

.rojo-lt {
  color: #e30613;
}

.azul-p {
  background-color: #004f9f;
}

.azul-lt {
  color: #002856;
}

.amarillo-uni {
  background-color: #ffdd00;
}

.verde-uni {
  background-color: #00a13a;
}

.tabs h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
.tabs h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}
.tabs input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tabs .row {
  display: flex;
}
.tabs .row .col {
  flex: 1;
}
.tabs .row .col:last-child {
  margin-left: 1em;
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.144);
  border: 3px solid #c00d0d;
  border-radius: 15px;
}
.tabs .tab {
  width: 100%;
  color: #e30613;
  overflow: hidden;
}
.tabs .tab-label {
  display: flex;
  justify-content: space-between;

  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;

  padding: 15px;

  font-size: 20px;

  border-bottom: 1px solid #fff;

  /* Icon */
}

.tabs .tab-label:hover {
  background: #ffdd00;
}
.tabs .tab-label::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tabs .tab-content {
  max-height: 0;
  padding: 0 1em;

  background: white;
  transition: all 0.35s;
}
.tabs .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #ffffff;
  cursor: pointer;
}
.tabs .tab-close:hover {
  background: #ffdd00;
}
.tabs input:checked + .tab-label {
  background: #ffdd00;
}
.tabs input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.tabs input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.sin-border {
  border: none;
}

.titulo-plus {
  margin: 7%;
}

/* ---------- */
/* como funciona */

.funciona-tm {
  border: 2px solid red;
  border-radius: 23px;
  color: #002856;
  margin: 0 auto;
  text-align: auto;
  padding: 3%;
  margin-bottom: 12%;
  font-size: 18px;
  min-height: 300px;
}

.acho-contenedor {
  padding-left: 10%;
}

.acho-contenedor2 {
  padding-right: 10%;
}

.funciona-tm i {
  padding: 3%;
}

@media only screen and (min-width: 250px) and (max-width: 1320px) {
  .acho-contenedor {
    padding-left: 3%;
  }
  .acho-contenedor2 {
    padding-right: 3%;
  }
  .funciona-tm {
    min-height: 320px;
  }
}
/* ten en cuenta */

.encuenta-tm {
  border: 2px solid #e30613;
  border-radius: 15px;
  max-width: 80%;
  margin: auto;
  text-align: auto;
}

.encuenta-tm p {
  margin-left: 1%;
  color: #002856;
}

.encuenta-tm i {
  margin: 3%;
}

.encuenta-tm h1 {
  margin: 1%;
  color: #ffdd00;
}

.reloj {
  margin-top: 10%;
  margin-right: 30%;
  margin: 0 auto;
  text-align: auto;
  margin-bottom: 23px;
}

.reloj-icono {
  position: relative;
  z-index: 2;
  margin-top: -34px;
}

.time-tm {
  border: 2px solid #e30613;
  border-radius: 23px;
  /* z-index: 1; */
}

.reloj h1 {
  font-size: 2rem;
}

.reloj .row {
  margin-top: 112px;
}
/* -------------------------------- */
