/*Cards*/

.container-cardTM {
  width: 100%;
  display: flex;
  max-width: 720px;
  margin: auto;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.card-tm {
  width: 100%;
  margin: 20px;
  border-radius: 30px;
  overflow: hidden;
  background: #00a13a;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card-tm:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card-tm img {
  width: 100%;
  height: 210px;
  border-bottom: 3px solid white;
  border-radius: 28px;
}

.card-tm .contenido-card {
  padding: 15px;
  text-align: center;
}

.card-tm .contenido-card h3 {
  margin-bottom: 5px;
  color: #ffffff;
  /* font-size: 35px; */
}

.card-tm .contenido-card p {
  line-height: 1.8;
  color: #ffffff;
  /* font-size: 14px; */
  margin-bottom: 5px;
}

.card-tm .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card-tm .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-cardTM {
    flex-wrap: wrap;
    width: 350px; /* Change this to orientacion */
  }
  .card-tm {
    margin: 15px;
  }
}

/*Fin-Cards*/

/* * linea con colores rojo,
amarillo,
verde */

.linea-colores {
  width: 50%;
  height: 5px;
  background-image: linear-gradient(
    90deg,
    #e30613 33%,
    #ffdd00 33%,
    #ffdd00 66.66%,
    #00a13a 66.66%
  );
  margin-bottom: 60px;
  /*espacio vertical */
  margin-top: 60px;
  clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
 
}

@media only screen and (max-width: 600px) {
  div.linea-colores {
    width: 300px;
    margin-top: 50px;
  }
}

/* acerca de  */

.acerca__card {
  color: #002856;
  margin-top: 50px;
  /* text-align: justify; */
}

.acerca__card h1 {
  margin-bottom: 10px;
  font-weight: bold;
}

.acerca__card p {
  text-align: justify;
  /* font-size: 18px; */
  color: #002856;
  /* white-space: normal; */
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .acerca__card img {
    margin: 0 auto;
    display: block;
    width: 70vw;
    height: 50vw;
  }
 
  .acerca__card {
    width: 80%;
  }
}
/* Objetivos Estrategicos*/
.obje__Estra {
  max-width: 90%;
}
.obje__Estra h2 {
 color: white;
 background-color: #e30613;
 width: 90%;
  padding: 20px;
  border-radius: 20px;
}
/* Objetivo 1 y 2 */
.card__obje-e1 {
  border: 2px solid #e30613;
  border-radius: 20px;
  color:#e30613;
  margin-top: 50px;
}
.card__obje-e1 .col-md-4 {
  border-right: 2px solid #e30613;
  border-radius: 0px 20px 20px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  color:#e30613
}
.card__obje-e1 i {
  padding: 20px;
  
  }
.card__obje-e1 li {
  float: left;
  padding: 5px;
  width: 200px;
  margin: 10px;  
  margin-left: 50px;
  color: #e30613; 
}
.card__obje-e1 ol {
   margin: 0 auto;
}
.card__obje-e1 ol:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
 }
/* Objetivos 3 y 4 */
.card__Obje-e2 {
  border: 2px solid #004f9f;
  border-radius: 20px;
  color:#004f9f;
  margin-top: 50px;
}
.card__Obje-e2 .col-md-4 {
  border-right: 2px solid #004f9f;
  border-radius: 0px 20px 20px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  color:#004f9f
}
.card__Obje-e2 i {
  padding: 20px;
  
  }
.card__Obje-e2 li {
  float: left;
  padding: 5px;
  width: 200px;
  margin: 10px;  
  margin-left: 50px;
  color: #004f9f; 
}
.card__Obje-e2 ol {
   margin: 0 auto;
}
.card__Obje-e2 ol:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
 }


@media only screen and (min-width: 320px) and (max-width: 768px) {
  .card__obje-e1 .col-md-4 {
    border-bottom: 2px solid #e30613;
    border-radius: 0px 0px 20px 20px;
    border-right: none;
  }

  .card__Obje-e2 .col-md-4 {
     border-bottom: 2px solid #004f9f;
    border-radius: 0px 0px 20px 20px;
    border-right: none;
  }
}


/* que es transmetro */

.conformado {
  color: #002856;
  
  /* text-align: justify; */
}

.conformado h1 {
  margin-bottom: 18px;
   font-weight: bold;
}

.conformado p {
  text-align: justify;
  white-space: normal;
}

.conformado span {
  font-weight: bold;
}
.conformado .col-md-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conformado .card {
  border: none !important;
}
#sistur {
  padding: 0px;
   }
@media only screen and (min-width: 320px) and (max-width: 768px) {
  
  .conformado img {
  width: 40vw;
    }

}

/* --------------------- */

/* <!-- DATOS DE INFRAESTRUCTURA --> */

.color-tex-da-infra {
  color: #002856;
  margin-bottom: 50px;
  margin-top: 100px;
}

.color-tex-da-infra h1 {
  
  font-weight: bold;
}



/* <!-- DATOS DE INFRSESTRUCTURA bloque 2 --> */

.car__port {
  margin-top: 50px;
  margin-bottom: 50px;
}
.car__port-infra {
  border: 2px solid #004f9f;
  border-radius: 20px;
  padding: 10px;
}
.car__port-infra img {
  width: 60px;
  margin-left: 15px;
}
.car__port-infra h5 {
  color: #002856;
  word-break: keep-all;
  font-weight: bold;
  overflow-wrap: normal !important;

  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    rgb(277, 6, 19) 90%,
    rgb(277, 6, 19) 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: right;
  transition: background-size 300ms;
}
.car__port-infra h5:hover {
  background-size: 100% 100%;
  background-position: left;
}
.car__port-infra a { text-decoration: none; }


@media only screen and (min-width: 320px) and (max-width: 768px) {
  .car__port-infra h3 {
    font-size: 20px;
  }
  .car__port-infra img {
    width: 60px;
  }
  .car__port-infra {
    /* width: 70vw; */
    margin: 0 auto;
  }
}
/* --------------------- */

/*DATOS DE INFRAESTRUCTURA bloque 3 */

.cont-infr {
  margin-top: 120px;
}

.linea-colores-peque {
  width: 35%;
  height: 3px;
  background-image: linear-gradient(
    90deg,
    #e30613 33%,
    #ffdd00 33%,
    #ffdd00 66.66%,
    #00a13a 66.66%
  );
  /*espacio vertical */
  margin-bottom: 15px;
  clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
}

.cont-infr img {
  margin-bottom: 26px;
  width: 100px;
  
}

.cont-infr p {
  color: #004f9f;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .linea-colores-peque {
    width: 35%;
    height: 2px;
  }
  .cont-infr {
    margin-top: 40px;
  }
  .cont-infr img {
    width: 20vw;
    margin-bottom: 10px;
  }
 
}

/* hover */

a i {
  transition: all 0.3s linear;
}

a:hover i {
  transform: scale(1.5);
}

.efecto:hover {
  color: blue;
}

/* card horizontal */

.card- {
  width: auto;
  margin: 20px;
  border-radius: 6px;
  text-align: center;
  background: rgb(1, 4, 46);
  box-shadow: 0px 1px 10px rgba(252, 247, 247, 0.2);
  color: #fff;
  margin-top: 120px;
  margin-right: 20px;
}

.card- img {
  width: 100%;
  height: 218px;
}

/* .card- .contenido-card {
  padding: 15px;
  text-align: center;
} */

.btn-si {
  border: 2px solid white;
  background-color: rgb(1, 4, 46);
}

.btn-no {
  border: 2px solid white;
  background-color: rgb(1, 4, 46);
}

.btn-votar {
  border: 2px solid white;
  background-color: rgb(1, 4, 46);
}

.ver-resultado {
  margin-top: 12px;
}

/* Asamblea */
.asamblea {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #002856;
}

.asamblea h1 {
  margin-top: 20px;
  margin-bottom: 60px;
  color: #002856;
  font-weight: bold;
}

.asamblea img {
  width: 100%;
  height: auto;
}

/* -----Movilizados----------------- */
/* Usuarios Movilizados */

.movilizado {
  box-shadow: 0px 1px 5px 3px rgba(64, 64, 64, 0.37);
  -webkit-box-shadow: 0px 1px 5px 3px rgba(64, 64, 64, 0.37);
  -moz-box-shadow: 0px 1px 5px 3px rgba(64, 64, 64, 0.37);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
  margin-top: -50px;

  width: 90%;
}
.movilizado h2 {
  color: #002856;
  /* font-size: 3.5vw; */
}

.movilizado p {
  color: #002856;
}
.movilizado:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.usu-movilizados {
  margin: 18px;
}

.movilizado img {
  float: right;
  display: flex;
  width: 26%;
}

/* ---- Encuesta ------ */

.card__Encuesta {
  width: 300px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
  margin-top: 40px;
  margin-bottom: 50px;
}

.card__Encuesta h2 {
  /* font-size: 35px; */
  color: #002856;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  /* text-transform: uppercase; */
}

.card__Encuesta img {
  width: 20% !important;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .card__Encuesta img {
    width: 30% !important;
  }
  .card__Encuesta {
    max-width: 300px !important;
  }
}



.objeinfra .card
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    
    border-radius: 20px;
    /* background: linear-gradient(60deg, #ffffff,#004f9f); */
    /* background:#002856; */
    
}
.objeinfra .card:hover
{
    height: 450px;
}
.objeinfra .card .imgContainer
{
    position: relative;
    width:250px;
    height:250px;
    top:-50px;
    left:10px;
    z-index: 1;
   /*  box-shadow: 0 5px 20px rgba(0,0,0,0.2); */
}
.objeinfra .card .imgContainer i
{
    max-width: 100%;
    border-radius: 4px;
    
}
.objeinfra .card .content
{
    position: relative;
    margin-top: -140px;
    /* padding: 10px 15px; */
    /* text-align: center; */
    color:#004f9f;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    
    
}
.objeinfra .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media (max-width: 330px){
    .objeinfra .card .imgContainer{
        left: -2px;
    }
}