/*Cards*/

.container-cardTM {
  width: 100%;
  display: flex;
  max-width: 720px;
  margin: auto;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.card-tm {
  width: 100%;
  margin: 20px;
  border-radius: 30px;
  overflow: hidden;
  background: #00a13a;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card-tm:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card-tm img {
  width: 100%;
  height: 210px;
  border-bottom: 3px solid white;
  border-radius: 28px;
}

.card-tm .contenido-card {
  padding: 15px;
  text-align: center;
}

.card-tm .contenido-card h3 {
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 35px;
}

.card-tm .contenido-card p {
  line-height: 1.8;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-tm .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card-tm .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-cardTM {
    flex-wrap: wrap;
    width: 350px; /* Change this to orientacion */
  }
  .card-tm {
    margin: 15px;
  }
}

/*Fin-Cards*/

/* * linea con colores rojo,
amarillo,
verde */

.linea-colores {
  width: 50%;
  height: 5px;
  background-image: linear-gradient(
    90deg,
    #e30613 33%,
    #ffdd00 33%,
    #ffdd00 66.66%,
    #00a13a 66.66%
  );
  margin-bottom: 60px;
  /*espacio vertical */
  margin-top: 60px;
  clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
  margin-bottom: 60px;
  /*espacio vertical */
  margin-top: 60px;
}

@media only screen and (max-width: 600px) {
  div.linea-colores {
    width: 300px;
    margin-top: 50px;
  }
}

/* acerca de  */

.acerca__card {
  color: #002856;
  margin-top: 100px;
  /* text-align: justify; */
}

.acerca__card h2 {
  margin-bottom: 3.5vw;
  font-size: 5.5vw;
}

.acerca__card p {
  text-align: justify;
  font-size: 1.8vw;
  color: #002856;
  /* white-space: normal; */
}

/* .acerca__card img {
  width: 40%;
  height: 70%;
 
} */

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .acerca__card img {
    margin: 0 auto;
    width: 70vw;
    height: 50vw;
  }
  .acerca__card p {
    font-size: 3.5vw;
  }
}

/* objetivos */
.obje__Estra {
  margin-top: 100px;
  margin-bottom: 100px;
  /* margin-left: -30px; */
}
.obj__Estra-ali {
  /* border: 2px solid #c00d0d; */
  border-radius: 30px;
  margin-bottom: 70px;
  /* width: 100%; */
  margin-top: 60px;
}
.obj__Estra-ali1 {
  /*  border: 2px solid #c00d0d; */
  border-radius: 30px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  /*  color: #c00d0d; */

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.obj__Estra-ali2 {
  /* color: #c00d0d; */
  padding-left: 50px;
}
.obje__Estra-title {
  width: 34vw;
  background-color: #e30613;
  border-radius: 20px;
  color: white;
  margin: 0 auto;
  margin-left: 250px;
}

.obje__Estra h2 {
  font-size: 2.5vw;
  padding: 20px;
}

.obje__Estra img {
  width: 40vw;
  padding-left: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .obje__Estra img {
    width: 50vw;
    padding-bottom: 50px;
    padding-left: 0px;
  }
  .obje__Estra h2 {
    font-size: 4vw;
  }

  .obje__Estra-title {
    width: 80%;
    margin-left: 35px;
  }
  .obj__Estra-ali1 {
    /* border: 3px solid #c00d0d; */
    border-radius: 12px;
    border-right: none;
    border-top: none;
    border-left: none;
  }

  .obj__Estra-ali2 {
    /* border: 3px solid #c00d0d; */
    border-radius: 12px;
    border-right: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
}

/* que es transmetro */

.conformado {
  color: #002856;
  /* text-align: justify; */
}

.conformado h2 {
  margin-bottom: 18px;
  font-size: 3.5vw;
  font-weight: bold;
}

.conformado p {
  text-align: justify;
  font-size: 1.8vw;
  white-space: normal;
}

.conformado span {
  font-weight: bold;
}

.conformado img {
  float: left;
  /* position: absolute; */
  margin-right: 67px;
  width: 20vw;
}

.text-derecha {
  /* margin-left: 257px; */
  margin-bottom: 46px;
  overflow: hidden;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .conformado p {
    font-size: 3.5vw;
  }
  .conformado h2 {
    font-size: 5.5vw;
  }
  .conformado img {
    margin-right: 10px;
  }
}

/* --------------------- */

/* <!-- DATOS DE INFRAESTRUCTURA --> */

.color-tex-da-infra {
  color: #002856;
  margin-bottom: 50px;
  margin-top: 100px;
}

.color-tex-da-infra h1 {
  font-size: 3.5vw;
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .color-tex-da-infra h1 {
    font-size: 5.5vw;
  }
}

/* <!-- DATOS DE INFRSESTRUCTURA bloque 2 --> */

.car__port {
  margin-top: 50px;
  margin-bottom: 50px;
}
.car__port-infra {
  border: 2px solid #004f9f;
  border-radius: 20px;
  padding: 10px;
}
.car__port-infra img {
  width: 30%;
  margin-left: 15px;
}
.car__port-infra h3 {
  color: #002856;
  font-size: 2vw;
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .car__port-infra h3 {
    font-size: 18px;
  }
  .car__port-infra img {
    width: 20%;
  }
  .car__port-infra {
    width: 60%;
    margin: 0 auto;
  }
}
/* --------------------- */

/*DATOS DE INFRAESTRUCTURA bloque 3 */

.cont-infr {
  margin-top: 120px;
}

.linea-colores-peque {
  width: 35%;
  height: 3px;
  background-image: linear-gradient(
    90deg,
    #e30613 33%,
    #ffdd00 33%,
    #ffdd00 66.66%,
    #00a13a 66.66%
  );
  /*espacio vertical */
  margin-bottom: 15px;
  clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
}

.cont-infr img {
  margin-bottom: 26px;
  width: 10vw;
  font-size: 4vw;
}

.cont-infr p {
  font-size: 1.8vw;
  color: #004f9f;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .linea-colores-peque {
    width: 35%;
    height: 2px;
  }
  .cont-infr {
    margin-top: 40px;
  }
  .cont-infr img {
    width: 20vw;
    margin-bottom: 10px;
  }
  .cont-infr p {
    font-size: 3.5vw;
  }
}

/* hover */

a i {
  transition: all 0.3s linear;
}

a:hover i {
  transform: scale(1.5);
}

.efecto:hover {
  color: blue;
}

/* card horizontal */

.card- {
  width: auto;
  margin: 20px;
  border-radius: 6px;
  text-align: center;
  background: rgb(1, 4, 46);
  box-shadow: 0px 1px 10px rgba(252, 247, 247, 0.2);
  color: #fff;
  margin-top: 120px;
  margin-right: 20px;
}

.card- img {
  width: 100%;
  height: 218px;
}

/* .card- .contenido-card {
  padding: 15px;
  text-align: center;
} */

.btn-si {
  border: 2px solid white;
  background-color: rgb(1, 4, 46);
}

.btn-no {
  border: 2px solid white;
  background-color: rgb(1, 4, 46);
}

.btn-votar {
  border: 2px solid white;
  background-color: rgb(1, 4, 46);
}

.ver-resultado {
  margin-top: 12px;
}

/* Asamblea */
.asamblea {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #002856;
}

.asamblea h2 {
  margin-top: 20px;
  margin-bottom: 60px;
  color: #002856;
}

.asamblea img {
  width: 100%;
  height: auto;
}

/* -----Movilizados----------------- */
/* Usuarios Movilizados */

.card__Movi {
  background-image: url('https://apiwebtm.com/uploads/Recurso_Movilizados_6bc73b974f.png');
  background-color: transparent;
  background-size: 100% 100%;
  height: 80vw;
  margin-bottom: 150px;
}
.movilizado {
  box-shadow: 0px 1px 5px 3px rgba(64, 64, 64, 0.37);
  -webkit-box-shadow: 0px 1px 5px 3px rgba(64, 64, 64, 0.37);
  -moz-box-shadow: 0px 1px 5px 3px rgba(64, 64, 64, 0.37);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
  margin-top: 905px;

  width: 90%;
}
.movilizado h2 {
  color: #002856;
  font-size: 3.5vw;
}
.movilizado:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.usu-movilizados {
  margin: 18px;
}

.movilizado img {
  float: right;
  display: flex;
  width: 26%;
}

/* @media only screen and (min-width: 320px) and (max-width: 2048px) {
  .movilizado {
    margin-top: 200px;
  }
  .movilizado h2 {
    font-size: 5vw;
  }
  .usu-movilizados {
    margin: 10px;
  }
} */
